<div class='flex flex-col justify-center items-center py-4'>
<div class='flex flex-wrap justify-center items-center gap-y-8 gap-x-4'>

  {%for movie in movies%}
<div class="flex flex-col"> 
        <div
          class="flex flex-col justify-center items-center rounded-t-lg gap-y-2"
        >
          <p
            class="w-[260px] h-[45px] px-2 text-center flex justify-center items-center bg-gray-800 text-yellow-500 font-bold rounded-md text-sm"
          >
            {{movie.rank}} - {{movie.title}} ({{movie.year}})
          </p>
          <a href="{%url 'movie-detail' movie.id%}"
            ><img
              src="{{movie.poster_img}}"
              alt="movie-poster"
              class="object-cover h-[380px] w-[280px]"
          /></a>
        </div>
      </div>
  {%endfor%}


  </div>

  {% if movies.has_next %}
  <div class='flex justify-center items-center py-4' id='load-more'>
    <div class='flex flex-col justify-center items-center ap-y-4'>            <button class='p-4 bg-yellow-400  text-gray-800 font-bold rounded-md hover:bg-yellow-200 transition duration-300' hx-get="{%url 'movie-list'%}?page={{movies.next_page_number}}" hx-target='#load-more' hx-swap="outerHTML">Load more</button>
              <p class='flex justify-center items-center text-center p-4 text-white tracking-wider font-bold' >  {{movie_count}} total results</p> </div>

  </div> 
{%endif%}
</div> 
