 {%extends 'movie/base.html' %} {%block title%}{{user_profile.first_name}}'s Favorites{%endblock%} {%block content%}
 <section id='film-list' class='flex flex-col justify-center items-center'>
  {% comment %} <div class='pt-4 font-bold text-lg'>{{user_profile.first_name}}'s Favorites</div> {% endcomment %}
  {%if is_owner%}
  {%include 'partials/movie-list.html'%}
  {%else%}
  <div class='pt-4 font-bold text-lg text-white'>{{user_profile.first_name}}'s Favorites</div>
  {%include 'partials/default-favorites.html'%}
  {%endif%}
</section>

{%endblock%} 

