<!DOCTYPE html>
 <html lang="en">
  {%extends 'movie/base.html'%} {%block title%}Movie List {%endblock%} 
   {%block content%}
      <div class="flex gap-x-4 justify-center items-center w-full ">
          <form
        class=" flex justify-center items-center"
      >
      {%csrf_token%}
        <label class="flex justify-center items-center p-3 gap-x-2">
<svg width="60px" height="60px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15 10.5C15 12.9853 12.9853 15 10.5 15C8.01472 15 6 12.9853 6 10.5C6 8.01472 8.01472 6 10.5 6C12.9853 6 15 8.01472 15 10.5ZM14.1793 15.2399C13.1632 16.0297 11.8865 16.5 10.5 16.5C7.18629 16.5 4.5 13.8137 4.5 10.5C4.5 7.18629 7.18629 4.5 10.5 4.5C13.8137 4.5 16.5 7.18629 16.5 10.5C16.5 11.8865 16.0297 13.1632 15.2399 14.1792L20.0304 18.9697L18.9697 20.0303L14.1793 15.2399Z" fill="#ffffff"></path> </g></svg>
          <input
            type='text'
            hx-post="{%url 'search-movies'%}"
            hx-target="#movie-results"
            hx-trigger="keyup changed delay:500ms"
            class="w-[300px] px-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
            
            name="movie-search"
            placeholder="Search for title, director, or year"
          />
        </label>
      </form>
      <form action="">
         {%csrf_token%}
        <div>
          <select class='p-2 text-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' name="genre" hx-get="{%url 'search-movies'%}"
            hx-target="#movie-results">
            <option value="" selected disabled hidden>Genre</option>
            <option class='py-1' value="">All</option>
            <option class='py-1' value="action">Action</option>
            <option class='py-1' value="adventure">Adventure</option>
            <option class='py-1' value="animation">Animation</option>
            <option class='py-1' value="comedy">Comedy</option>
            <option class='py-1' value="crime">Crime</option>
            <option class='py-1' value="drama">Drama</option>
            <option class='py-1' value="fantasy">Fantasy</option>
            <option class='py-1' value="family">Family</option>
            <option class='py-1' value="horror">Horror</option>
            <option class='py-1' value="history">History</option>
            <option class='py-1' value="mystery">Mystery</option>
            <option class='py-1' value="romance">Romance</option>
            <option class='py-1' value="sci-fi">Sci-Fi</option>
            <option class='py-1' value="thriller">Thriller</option>
          </select>
        </div>
      </form>
      <div class='w-[35%]'>
        <form >
          {%csrf_token%}
          <input
          class='w-full relative w-[300px] px-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500'
            type="text"
            hx-post="{%url 'search-users'%}"
            hx-target="#results"
            hx-trigger="keyup changed delay:500ms"
            name="search"
            placeholder="Search User by first name, last name, or email.."
          />
        </form>
        <div class='absolute z-[10] bg-gray-200 w-[35%] flex flex-col' id="results"></div>
      </div>
    </div>


    <div id='movie-results'>
{%include 'partials/default-movies.html'%}

    </div>  

  {%endblock%} 
</html> 


